# This is a white-list gitignore
#


# First, ignore everything
*
.*


# White-list

# git file
!/.gitignore

# Documents
!/README.md
!/LICENSE.md
!/document/
!/document/*.md
!/document/CMakeLists.txt
!/document/doxygen_dark_theme

# Project cmake file
!/CMakeLists.txt
!/cmake/
!/cmake/*.cmake

# Source code
!/source/
!/source/zisc/
!/source/zisc/CMakeLists.txt
!/source/zisc/document.dox
!/source/zisc/core/
!/source/zisc/core/zisc/
!/source/zisc/core/zisc/*.hpp
!/source/zisc/core/zisc/*.hpp.in
!/source/zisc/core/zisc/*.cpp
!/source/zisc/core/zisc/concurrency/
!/source/zisc/core/zisc/concurrency/*.hpp
!/source/zisc/core/zisc/concurrency/*.cpp
!/source/zisc/core/zisc/internal/
!/source/zisc/core/zisc/internal/*.hpp
!/source/zisc/core/zisc/internal/*.hpp.in
!/source/zisc/core/zisc/internal/*.cpp
!/source/zisc/core/zisc/internal/flock/
!/source/zisc/core/zisc/internal/flock/*.hpp
!/source/zisc/core/zisc/internal/flock/*.cpp
!/source/zisc/core/zisc/hash/
!/source/zisc/core/zisc/hash/*.hpp
!/source/zisc/core/zisc/hash/*.cpp
!/source/zisc/core/zisc/math/
!/source/zisc/core/zisc/math/*.hpp
!/source/zisc/core/zisc/math/*.cpp
!/source/zisc/core/zisc/memory/
!/source/zisc/core/zisc/memory/*.hpp
!/source/zisc/core/zisc/memory/*.cpp
!/source/zisc/core/zisc/random/
!/source/zisc/core/zisc/random/*.hpp
!/source/zisc/core/zisc/random/*.cpp
!/source/zisc/core/zisc/string/
!/source/zisc/core/zisc/string/*.hpp
!/source/zisc/core/zisc/string/*.cpp
!/source/zisc/core/zisc/structure/
!/source/zisc/core/zisc/structure/*.hpp
!/source/zisc/core/zisc/structure/*.cpp
# Zisc cmake file
!source/zisc/cmake/
!source/zisc/cmake/*.cmake
!source/zisc/cmake/.gitkeep
!source/zisc/cmake/script/
!source/zisc/cmake/script/*.cmd.in
!source/zisc/cmake/script/*.sh.in

# Test
!/test/
!/test/CMakeLists.txt
!/test/dependencies/
!/test/dependencies/googletest
!/test/unittest/
!/test/unittest/*.hpp
!/test/unittest/*.cpp
!/test/resources/
!/test/resources/*.txt
# Math reference
!/test/math_reference/
!/test/math_reference/*.hpp
!/test/math_reference/reference/
!/test/math_reference/reference/*.7z

# Example
!/example/
!/example/CMakeLists.txt
!/example/*.cpp

# Build directory
!/build/
!/build/.gitkeep
